<!doctype html>
<html class="no-js" lang="ja">
  <head>
    <script>
      let regexp = /^(\/en|\/ko|\/zh)(\/|$)/;
      if(location.pathname.match(regexp))location.href= "/"+location.pathname.replace(regexp,"")+location.search+location.hash
    </script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="https://humanmade.jp/cart">
    <link rel="preconnect" href="cart/cdn.shopify.com" crossorigin><link rel="icon" type="image/png" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/files/hmonline_favicon_32x32.png?v=1658206524"><link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin><title>
      ショッピングカート
 &ndash; HUMAN MADE ONLINE STORE</title>

    

    

<meta property="og:site_name" content="HUMAN MADE ONLINE STORE">
<meta property="og:url" content="https://humanmade.jp/cart">
<meta property="og:title" content="ショッピングカート">
<meta property="og:type" content="website">
<meta property="og:description" content="Human Made designed by NIGO® is the lifestyle brand with the concept of “the future is in the past”.
NIGO®がデザインする“過去と未来の融合” をコンセプトにしたライフスタイルブランド「HUMAN MADE」のオフィシャルオンラインストアです。
"><meta property="og:image" content="cart/cdn.shopify.com/s/files/1/0001/8359/9140/files/mail-logo-hart.png?v=1656654179">
  <meta property="og:image:secure_url" content="cart/cdn.shopify.com/s/files/1/0001/8359/9140/files/mail-logo-hart.png?v=1656654179">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628"><meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ショッピングカート">
<meta name="twitter:description" content="Human Made designed by NIGO® is the lifestyle brand with the concept of “the future is in the past”.
NIGO®がデザインする“過去と未来の融合” をコンセプトにしたライフスタイルブランド「HUMAN MADE」のオフィシャルオンラインストアです。
">

    <script src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/jquery-3.6.0.min.js?v=8324501383853434791656464812" defer="defer"></script>
    <script src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/global.js?v=52135142659038579731657547523" defer="defer"></script>
    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/183599140/digital_wallets/dialog">
<link rel="alternate" hreflang="x-default" href="https://humanmade.jp/cart">
<link rel="alternate" hreflang="ja-JP" href="https://humanmade.jp/cart">
<link rel="alternate" hreflang="en-JP" href="https://humanmade.jp/en/cart">
<link rel="alternate" hreflang="ko-JP" href="https://humanmade.jp/ko/cart">
<link rel="alternate" hreflang="zh-Hans-JP" href="https://humanmade.jp/zh/cart">
<script id="shopify-features" type="application/json">{"accessToken":"c96e2c5fc4942663ae406b6cccdf583a","betas":["rich-media-storefront-analytics"],"domain":"humanmade.jp","predictiveSearch":false,"shopId":183599140,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.ja.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.ja.js?v=2","locale":"ja"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "humanmade-ec.myshopify.com";
Shopify.locale = "ja";
Shopify.currency = {"active":"JPY","rate":"1.0"};
Shopify.country = "JP";
Shopify.theme = {"name":"humanmade-shopify\/main","id":123205255204,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "/";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/b9cfba45633aa26609f35d167\/b0e5730bbc171f8029a4eede5.js?shop=humanmade-ec.myshopify.com","https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/b9cfba45633aa26609f35d167\/99d857a0d49e69969ffe414f2.js?shop=humanmade-ec.myshopify.com","https:\/\/d3g420rgevyqxw.cloudfront.net\/cffOrderifyLoader_min.js?shop=humanmade-ec.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":183599140,"offset":32400,"reqid":"1bffc274-180d-4aa0-a959-f121a07fd5c9","pageurl":"humanmade.jp\/cart","t":"prospect","u":"bb9e89a847b9"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>!function(o){o.addEventListener("DOMContentLoaded",function(){window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:"6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9"};var t=['form[action*="/contact"] input[name="form_type"][value="contact"]','form[action*="/comments"] input[name="form_type"][value="new_comment"]','form[action*="/account"] input[name="form_type"][value="customer_login"]','form[action*="/account"] input[name="form_type"][value="recover_customer_password"]','form[action*="/account"] input[name="form_type"][value="create_customer"]','form[action*="/contact"] input[name="form_type"][value="customer"]'].join(",");function n(e){e=e.target;null==e||null!=(e=function e(t,n){if(null==t.parentElement)return null;if("FORM"!=t.parentElement.tagName)return e(t.parentElement,n);for(var o=t.parentElement.action,r=0;r<n.length;r++)if(-1!==o.indexOf(n[r]))return t.parentElement;return null}(e,["/contact","/comments","/account"]))&&null!=e.querySelector(t)&&((e=o.createElement("script")).setAttribute("src","cart/cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.6/index.js"),o.body.appendChild(e),o.removeEventListener("focus",n,!0),o.removeEventListener("change",n,!0),o.removeEventListener("click",n,!0))}o.addEventListener("click",n,!0),o.addEventListener("change",n,!0),o.addEventListener("focus",n,!0)})}(document);</script>
<script integrity="sha256-qzgBevPPdZ2wrwu9HnUin2oYn1vx8ttCFpYwmYuWkCE=" data-source-attribution="shopify.loadfeatures" defer="defer" src="cart/cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-ab38017af3cf759db0af0bbd1e75229f6a189f5bf1f2db42169630998b969021.js" crossorigin="anonymous"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="cart/cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
<script id="sections-script" data-sections="main-cart-footer,cart-collection,header,footer" defer="defer" src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/compiled_assets/scripts.js?18202"></script>

<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 60px;
  }
}
</style><script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>


    <style data-shopify>
      @font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=8ad91fb3bddf5e32c26c2c19126542baaa17e5049d3e296b083015f0c559b5db") format("woff2"),
       url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=bfabdceaa0fed4011c208b7167c7a1a3e704c784a419a2af6307910935e0e1aa") format("woff");
}

      @font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_n7.8cfc646eab1e39e2d81a26284624600ccae49d55.woff2?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=10ac1b2a784847acef8cf880a24eb8b7a8b20f4c585247c9aa8905c5c17e77cb") format("woff2"),
       url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_n7.25b10f8089bc87dfd8e50a7c68b433da7a04bc87.woff?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=bd4bfb23a88b01b8d1abd31d641fab631cd450889be5b300e2f09e225d1c034d") format("woff");
}

      @font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_i4.f1583d9f457b68e44fbda187a48b4096d547d7f4.woff2?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=194ce0d35fd33aa5f2a44cbc430aa486f7e91232dcaf8b98f1d5af31d5fed9b0") format("woff2"),
       url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_i4.67fb53a3e0351125941146246183577ae8d8bf23.woff?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=23a3bff7a6109888d8eec46a9ab4af458a3a91ea74440ce1c3b41569b867856f") format("woff");
}

      @font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_i7.3a67996166b5b7f1b7cc3b35490ebd6824908dc5.woff2?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=03758fc6db8293ebdb439c3654b7888dd38a3dc650be862fef73e64d1bac8329") format("woff2"),
       url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_i7.b872875ff437f0efb4c2321d0016eaa726b649ae.woff?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=a9f4defc77dd9105db92fc6a9b1437e73cae1ef63f186f76710bb8601ac7e0ff") format("woff");
}

      @font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_n7.8cfc646eab1e39e2d81a26284624600ccae49d55.woff2?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=10ac1b2a784847acef8cf880a24eb8b7a8b20f4c585247c9aa8905c5c17e77cb") format("woff2"),
       url("cart/fonts.shopifycdn.com/avenir_next/avenirnext_n7.25b10f8089bc87dfd8e50a7c68b433da7a04bc87.woff?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=bd4bfb23a88b01b8d1abd31d641fab631cd450889be5b300e2f09e225d1c034d") format("woff");
}


      :root {
        --font-body-family: "Avenir Next", sans-serif;
        --font-body-style: normal;
        --font-body-weight: 400;

        --font-heading-family: "Avenir Next", sans-serif;
        --font-heading-style: normal;
        --font-heading-weight: 700;

        --font-body-scale: 1.0;
        --font-heading-scale: 1.0;

        --color-base-text: 18, 18, 18;
        --color-shadow: 18, 18, 18;
        --color-base-background-1: 255, 255, 255;
        --color-base-background-2: 243, 243, 243;
        --color-base-solid-button-labels: 255, 255, 255;
        --color-base-outline-button-labels: 18, 18, 18;
        --color-base-accent-1: 18, 18, 18;
        --color-base-accent-2: 51, 79, 180;
        --color-base-accent-3: 235, 70, 50;
        --payment-terms-background-color: #FFFFFF;

        --gradient-base-background-1: #FFFFFF;
        --gradient-base-background-2: #F3F3F3;
        --gradient-base-accent-1: #121212;
        --gradient-base-accent-2: #334FB4;

        --media-padding: px;
        --media-border-opacity: 0.05;
        --media-border-width: 1px;
        --media-radius: 0px;
        --media-shadow-opacity: 0.0;
        --media-shadow-horizontal-offset: 0px;
        --media-shadow-vertical-offset: 0px;
        --media-shadow-blur-radius: 0px;

        --page-width: 120rem;
        --page-width-margin: 0rem;

        --card-image-padding: 0.0rem;
        --card-corner-radius: 0.0rem;
        --card-text-alignment: left;
        --card-border-width: 0.0rem;
        --card-border-opacity: 0.0;
        --card-shadow-opacity: 0.1;
        --card-shadow-horizontal-offset: 0.0rem;
        --card-shadow-vertical-offset: 0.0rem;
        --card-shadow-blur-radius: 0.0rem;

        --badge-corner-radius: 4.0rem;

        --popup-border-width: 1px;
        --popup-border-opacity: 0.1;
        --popup-corner-radius: 0px;
        --popup-shadow-opacity: 0.0;
        --popup-shadow-horizontal-offset: 0px;
        --popup-shadow-vertical-offset: 0px;
        --popup-shadow-blur-radius: 0px;

        --drawer-border-width: 1px;
        --drawer-border-opacity: 0.1;
        --drawer-shadow-opacity: 0.0;
        --drawer-shadow-horizontal-offset: 0px;
        --drawer-shadow-vertical-offset: 0px;
        --drawer-shadow-blur-radius: 0px;

        --spacing-sections-desktop: 60px;
        --spacing-sections-mobile: 40px;

        --grid-desktop-vertical-spacing: 20px;
        --grid-desktop-horizontal-spacing: 20px;
        --grid-mobile-vertical-spacing: 10px;
        --grid-mobile-horizontal-spacing: 10px;

        --text-boxes-border-opacity: 0.0;
        --text-boxes-border-width: 0px;
        --text-boxes-radius: 0px;
        --text-boxes-shadow-opacity: 0.0;
        --text-boxes-shadow-horizontal-offset: 0px;
        --text-boxes-shadow-vertical-offset: 0px;
        --text-boxes-shadow-blur-radius: 0px;

        --buttons-radius: 0px;
        --buttons-radius-outset: 0px;
        --buttons-border-width: 1px;
        --buttons-border-opacity: 1.0;
        --buttons-shadow-opacity: 0.0;
        --buttons-shadow-horizontal-offset: 0px;
        --buttons-shadow-vertical-offset: 0px;
        --buttons-shadow-blur-radius: 0px;
        --buttons-border-offset: 0px;

        --inputs-radius: 0px;
        --inputs-border-width: 1px;
        --inputs-border-opacity: 0.55;
        --inputs-shadow-opacity: 0.0;
        --inputs-shadow-horizontal-offset: 0px;
        --inputs-margin-offset: 0px;
        --inputs-shadow-vertical-offset: 0px;
        --inputs-shadow-blur-radius: 0px;
        --inputs-radius-outset: 0px;

        --variant-pills-radius: 40px;
        --variant-pills-border-width: 1px;
        --variant-pills-border-opacity: 0.55;
        --variant-pills-shadow-opacity: 0.0;
        --variant-pills-shadow-horizontal-offset: 0px;
        --variant-pills-shadow-vertical-offset: 0px;
        --variant-pills-shadow-blur-radius: 0px;

        --header-sp-height: 65px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }


      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.3rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family), "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "Arial", sans-serif;
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.4rem;
        }
      }
    </style>

    <link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/base.css?v=92601394733039262991657589268" rel="stylesheet" type="text/css" media="all" />
    <link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/common.css?v=106418570346219688441661396134" rel="stylesheet" type="text/css" media="all" />
    <link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/second.css?v=152958786709515000391660811701" rel="stylesheet" type="text/css" media="all" />

    <link rel="preload" as="font" href="cart/fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=8ad91fb3bddf5e32c26c2c19126542baaa17e5049d3e296b083015f0c559b5db" type="font/woff2" crossorigin><link rel="preload" as="font" href="https://fonts.shopifycdn.com/avenir_next/avenirnext_n7.8cfc646eab1e39e2d81a26284624600ccae49d55.woff2?h1=aHVtYW5tYWRlLmpw&h2=aHVtYW5tYWRlLWVjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=10ac1b2a784847acef8cf880a24eb8b7a8b20f4c585247c9aa8905c5c17e77cb" type="font/woff2" crossorigin><script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P789P9T');</script>
    <!-- End Google Tag Manager -->

  
<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 183599140,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "cart"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'JPY';
var meta = {"page":{}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  <!-- Google Tag Manager -->
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P789P9T');
<!-- End Google Tag Manager -->

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
//  ga('create', 'UA-119121996-1', 'auto');
//  ga('send', 'pageview');


if (document.URL.indexOf('?previous_step=shipping_method&step=payment_method') >= 0 || Shopify.Checkout.step == 'payment_method') {
  if (!('remove' in Element.prototype)) {
      Element.prototype.remove = function() {
          if (this.parentNode) {
              this.parentNode.removeChild(this);
          }
      };
  }

  if (!String.prototype.includes) {
    String.prototype.includes = function (str) {
      return this.indexOf(str) !== -1;
    }
  }

  [].forEach.call(document.querySelectorAll(".order-summary__section--discount"), function (e) {
    e.parentNode.removeChild(e);
  });
  [].forEach.call(document.querySelectorAll(".applied-reduction-code__clear-button"), function (e) {
    e.parentNode.removeChild(e);
  });
  [].forEach.call(document.querySelectorAll(".field__input-btn-wrapper"), function (e) {
    e.parentNode.removeChild(e);
  });
  var shippingMethod = document.getElementsByClassName('review-block__content')[2].innerText;
  console.log(shippingMethod);
  if (shippingMethod.trim() == '佐川急便（代金引換） · ¥980' || shippingMethod.trim() == '佐川急便（代金引換） · ¥330') {
    console.log("Card Payment enabled. COD disabled.");
    /*
    [].forEach.call(document.querySelectorAll("[data-select-gateway='18310037547']"), function (e) {
      e.parentNode.removeChild(e);
    });
    */
    // paypal
    document.getElementById("checkout_payment_gateway_6462767140").checked = false;
    // credit card
    document.getElementById("checkout_payment_gateway_9440886820").checked = false;
    // cod
    document.getElementById("checkout_payment_gateway_9466380324").checked = true;
    // remove credit card
    document.getElementById("checkout_payment_gateway_9440886820").parentNode.parentNode.remove();
    document.getElementById("payment-gateway-subfields-9440886820").remove();

    // remove paypal
    document.getElementById("checkout_payment_gateway_6462767140").parentNode.parentNode.remove();


    var items = document.getElementsByClassName('product__description__name');
    for (var i = 0; i < items.length; i++) {
      if(items[i].innerHTML.includes("受注商品") || items[i].innerHTML.includes("PRE ORDER")) {
        console.log(items[i].innerHTML);
        var button = document.getElementsByClassName('step__footer__continue-btn');
        console.log(button[0]);
        button[0].remove();
        var message = document.getElementsByClassName('section__text');
        message[0].innerHTML = "受注商品を選択された場合、代引きは選択出来ません。配送方法に戻りクレジット決済を選択してください。";
        document.getElementById("checkout_payment_gateway_9466380324").parentNode.parentNode.parentNode.remove();
      }
    }


  }else{
    // if (shippingMethod == '佐川急便 · ¥650') {
    console.log("COD Disabled");

    document.getElementById("checkout_payment_gateway_9466380324").parentNode.parentNode.remove();

    // Check PreOrder
    var items = document.getElementsByClassName('product__description__name');
    for (var i = 0; i < items.length; i++) {
      if(items[i].innerHTML.includes("受注商品") || items[i].innerHTML.includes("PRE ORDER")) {
        console.log("paypal removing");
        // paypal
        document.getElementById("checkout_payment_gateway_6462767140").checked = false;
        // remove paypal
        document.getElementById("checkout_payment_gateway_6462767140").parentNode.parentNode.remove();
      }
    }

    document.getElementById("checkout_payment_gateway_9440886820").checked = true;
    document.getElementById("checkout_payment_gateway_9466380324").checked = false;
  }
}
};
</script>
<script class="analytics">(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var hasLoggedConversion = function(token) {
    if (token) {
      return document.cookie.indexOf('loggedConversion=' + token) !== -1;
    }
    return false;
  }

  var setCookieIfConversion = function(token) {
    if (token) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config || {};
    trekkie.config.initialDocumentCookie = document.cookie;
    var first = document.getElementsByTagName('script')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      var scriptFallback = document.createElement('script');
      scriptFallback.type = 'text/javascript';
      scriptFallback.onerror = function(error) {
              var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });
    
          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful
    
        } // XHR beacon   
    
        var xhr = new XMLHttpRequest();
    
        try {
          xhr.open('POST', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }
    
        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.1',
      {shop_id: 183599140,
      theme_id: 123205255204,
      app_name: "storefront",
      context_url: window.location.href,
      source_url: "cart/cdn.shopify.com/s/trekkie.storefront.e695302c3cd17296c85e559451c496db44e32e17.min.js"});

      };
      scriptFallback.async = true;
      scriptFallback.src = 'cart/cdn.shopify.com/s/trekkie.storefront.e695302c3cd17296c85e559451c496db44e32e17.min.js';
      first.parentNode.insertBefore(scriptFallback, first);
    };
    script.async = true;
    script.src = 'cart/cdn.shopify.com/s/trekkie.storefront.e695302c3cd17296c85e559451c496db44e32e17.min.js';
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":183599140,"isMerchantRequest":null,"themeId":123205255204,"themeCityHash":"14425329275334419944","contentLanguage":"ja","currency":"JPY"},"isServerSideCookieWritingEnabled":true},"Google Analytics":{"trackingId":"UA-206770383-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Session Attribution":{},"S2S":{"facebookCapiEnabled":false,"source":"trekkie-storefront-renderer"}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    
      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;

    window.ShopifyAnalytics.lib.page(null,{});

    var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
    var token = match? match[1]: undefined;
    if (!hasLoggedConversion(token)) {
      setCookieIfConversion(token);
      
    }
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "cart/cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-65cd0ba3fcd81a1df33f2510ec5bcf8c0e0958653b50e3965ec972dd638ee13f.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script>
<script class="boomerang">
(function () {
  if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
    return;
  }
  window.BOOMR = window.BOOMR || {};
  window.BOOMR.snippetStart = new Date().getTime();
  window.BOOMR.snippetExecuted = true;
  window.BOOMR.snippetVersion = 12;
  window.BOOMR.application = "storefront-renderer";
  window.BOOMR.themeName = "Dawn";
  window.BOOMR.themeVersion = "3.0.0";
  window.BOOMR.shopId = 183599140;
  window.BOOMR.themeId = 123205255204;
  window.BOOMR.url =
    "cart/cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
  var where = document.currentScript || document.getElementsByTagName("script")[0];
  var parentNode = where.parentNode;
  var promoted = false;
  var LOADER_TIMEOUT = 3000;
  function promote() {
    if (promoted) {
      return;
    }
    var script = document.createElement("script");
    script.id = "boomr-scr-as";
    script.src = window.BOOMR.url;
    script.async = true;
    parentNode.appendChild(script);
    promoted = true;
  }
  function iframeLoader(wasFallback) {
    promoted = true;
    var dom, bootstrap, iframe, iframeStyle;
    var doc = document;
    var win = window;
    window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
    bootstrap = function(parent, scriptId) {
      var script = doc.createElement("script");
      script.id = scriptId || "boomr-if-as";
      script.src = window.BOOMR.url;
      BOOMR_lstart = new Date().getTime();
      parent = parent || doc.body;
      parent.appendChild(script);
    };
    if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
      window.BOOMR.snippetMethod = "s";
      bootstrap(parentNode, "boomr-async");
      return;
    }
    iframe = document.createElement("IFRAME");
    iframe.src = "about:blank";
    iframe.title = "";
    iframe.role = "presentation";
    iframe.loading = "eager";
    iframeStyle = (iframe.frameElement || iframe).style;
    iframeStyle.width = 0;
    iframeStyle.height = 0;
    iframeStyle.border = 0;
    iframeStyle.display = "none";
    parentNode.appendChild(iframe);
    try {
      win = iframe.contentWindow;
      doc = win.document.open();
    } catch (e) {
      dom = document.domain;
      iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
      win = iframe.contentWindow;
      doc = win.document.open();
    }
    if (dom) {
      doc._boomrl = function() {
        this.domain = dom;
        bootstrap();
      };
      doc.write("<body onload='document._boomrl();'>");
    } else {
      win._boomrl = function() {
        bootstrap();
      };
      if (win.addEventListener) {
        win.addEventListener("load", win._boomrl, false);
      } else if (win.attachEvent) {
        win.attachEvent("onload", win._boomrl);
      }
    }
    doc.close();
  }
  var link = document.createElement("link");
  if (link.relList &&
    typeof link.relList.supports === "function" &&
    link.relList.supports("preload") &&
    ("as" in link)) {
    window.BOOMR.snippetMethod = "p";
    link.href = window.BOOMR.url;
    link.rel = "preload";
    link.as = "script";
    link.addEventListener("load", promote);
    link.addEventListener("error", function() {
      iframeLoader(true);
    });
    setTimeout(function() {
      if (!promoted) {
        iframeLoader(true);
      }
    }, LOADER_TIMEOUT);
    BOOMR_lstart = new Date().getTime();
    parentNode.appendChild(link);
  } else {
    iframeLoader(false);
  }
  function boomerangSaveLoadTime(e) {
    window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
  }
  if (window.addEventListener) {
    window.addEventListener("load", boomerangSaveLoadTime, false);
  } else if (window.attachEvent) {
    window.attachEvent("onload", boomerangSaveLoadTime);
  }
  if (document.addEventListener) {
    document.addEventListener("onBoomerangLoaded", function(e) {
      e.detail.BOOMR.init({
        producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
        ResourceTiming: {
          enabled: true,
          trackedResourceTypes: ["script", "img", "css"]
        },
      });
      e.detail.BOOMR.t_end = new Date().getTime();
    });
  } else if (document.attachEvent) {
    document.attachEvent("onpropertychange", function(e) {
      if (!e) e=event;
      if (e.propertyName === "onBoomerangLoaded") {
        e.detail.BOOMR.init({
          producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
          ResourceTiming: {
            enabled: true,
            trackedResourceTypes: ["script", "img", "css"]
          },
        });
        e.detail.BOOMR.t_end = new Date().getTime();
      }
    });
  }
})();</script>
</head>

  <body class="gradient">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="cart/www.googletagmanager.com/ns.html?id=GTM-P789P9T"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      コンテンツに進む
    </a>

    <div id="shopify-section-announcement-bar" class="shopify-section">

</div>
    <div id="shopify-section-header" class="shopify-section section-header"><link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-menu.css?v=69267769827968425701656464816" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-search.css?v=96455689198851321781656464813" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-menu-drawer.css?v=119203263971525973301656464813" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-cart-notification.css?v=165626359324122439351656464811" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-cart-items.css?v=103401026934584095131656464812" media="print" onload="this.media='all'"><noscript><link href="//cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-menu.css?v=69267769827968425701656464816" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-search.css?v=96455689198851321781656464813" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-menu-drawer.css?v=119203263971525973301656464813" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-cart-notification.css?v=165626359324122439351656464811" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-cart-items.css?v=103401026934584095131656464812" rel="stylesheet" type="text/css" media="all" /></noscript>

<style>
  header-drawer {
    justify-self: start;
    /* margin-left: -1.2rem; */
  }

  /* @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  } */

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style><style data-shopify>.section-header {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: 0px;
    }
  }</style><script src="cart/j.wovn.io/1" data-wovnio="key=P7DLuV" async></script>
<script src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/details-disclosure.js?v=93827620636443844781656464813" defer="defer"></script>
<script src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/details-modal.js?v=4511761896672669691656464812" defer="defer"></script>
<script src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/cart-notification.js?v=110464945634282900951656464813" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<sticky-header id="hedstop" class="header-wrapper color-background-1 gradient header-wrapper--border-bottom">
  <header  class="header header--middle-left page-width header--has-menu">

    <div class="l1">
                    <div class="navBox">
                        <div class="left_icon">
                            <a href="#" class="header__icon header__icon--account link focus-inset">
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-account" fill="none" viewBox="0 0 18 19">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
</svg>  -->
                                <!-- bbaavv -->
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-account" fill="none" viewBox="0 0 15.35 17.2"><defs><style>.cls-1,.cls-2{fill:none;stroke:#000;stroke-width:1.5px;}.cls-1{stroke-miterlimit:10;}.cls-2{stroke-linejoin:round;}</style></defs><g id="r2" data-name="r2"><g id="design"><circle class="cls-1" cx="7.68" cy="4.7" r="3.95"/><path class="cls-2" d="M14.6,16.45c-1.33-4.24-3.93-6.87-6.92-6.87S2.08,12.21.75,16.45Z"/></g></g></svg>
 -->

                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-account" fill="none" viewBox="0 0 24.94 29.7"><defs><style>.cls-1s,.cls-2s{fill:none;stroke:#000;stroke-width:2px;}.cls-1{stroke-miterlimit:10;}.cls-2s{stroke-linejoin:round;}</style></defs><g id="r2" data-name="r2"><g id="r2" data-name="r1"><circle class="cls-1s" cx="12.47" cy="7.55" r="6.55"/><path class="cls-2s" d="M23.94,28.7c-2.21-7-6.52-11.38-11.47-11.38S3.21,21.68,1,28.7Z"/></g></g></svg>
                                <span class="visually-hidden">ログイン</span>
                            </a>
                          <!--  <lang-switch-ele class="country" wovn-ignore>
                                <select name="lang" class="lang-switch">
              <option value="ja">日本語</option>
              <option value="en">ENGLISH</option>
              <option value="zh-CHT">繁體中文</option>
              <option value="zh-CHS">简体中文</option>
              <option value="ko">한국어</option>
            </select>
                                <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</svg> 

                                <svg class="icon icon-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.01 4.62"><g id="r2" data-name="r2"><g id="text"><polygon points="0 0 7.01 0 3.5 4.62 0 0"/></g></g></svg>
                                <div class="wovn-languages" style="display: none;">
                                    <ul>
                                        <li class="wovn-switch" data-value="ja">JP</li>
                                        <li class="wovn-switch" data-value="en">EN</li>
                                        <li class="wovn-switch" data-value="zh-CHS">简体中文</li>
                                        <li class="wovn-switch" data-value="zh-CHT">繁體中文</li>
                                        <li class="wovn-switch" data-value="ko">한국어</li>
                                    </ul>
                                </div>
                            </lang-switch-ele>-->
                        </div>
                        <h1 class="header__heading">
                            <a id="logoBox" href="/" class="header__heading-link link link--text focus-inset">
                            <img src="logoW/logoX.png " alt="" width="56" height="55">
                              <!-- <script>
                                    var logo1 = new Array();
                                    logo1.push(["homeX/cdn.shopify.com/s/files/1/0554/0790/2772/files/logo_1.svg?v=1646305899", 56, 55]);
                                    logo1.push(["https://cdn.shopify.com/s/files/1/0554/0790/2772/files/logo_2.svg?v=1646305899", 75, 55]);
                                    var random = Math.floor(Math.random() * 2);
                                    if (logo1.length != 0) {
                                        var img = document.createElement('img');
                                        img.src = logo1[random][0];
                                        img.classList.add("logotype" + random)
                                        img.alt = "";
                                        img.width = logo1[random][1];
                                        img.height = logo1[random][2];
                                        document.getElementById("logoBox").append(img);
                                    } else {

                                    }
                                </script>-->
                            </a>
                        </h1>
                        <nav class="header__inline-menu">
                            <ul class="list-menu list-menu--inline" role="list">
                                <li><a href="/all" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset" aria-current="page">
                  <span class="header__active-menu-item">SHOP</span>
                </a></li>
                                <li><a href="/" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset">
                  <span>HOME</span>
                </a></li>
                                <li><a href="/about" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset">
                  <span>ABOUT</span>
                </a></li>
                            </ul>
                        </nav>
                        <div class="cIcon header__icons">


                            <div class="sb_icon">
                                <div class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="検索">
                                    <span>
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" fill="none" viewBox="0 0 17 17"><defs><style>.cls-1sb,.cls-2sb{fill:none;}.cls-1sb{stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.6px;}</style></defs><g id="r_2" data-name="r2"><g id="design"><circle class="cls-1sb" cx="6.51" cy="7.1" r="5.27"/><line class="cls-1sb" x1="10.85" y1="10.88" x2="15.76" y2="15.17"/><rect class="cls-2sb" width="17" height="17"/></g></g></svg>
        </span>
                                </div>
                            </div>
                            <a href="/cart" class="hb_icon header__icon header__icon--cart link focus-inset" id="cart-icon-bubble" wovn-ignore><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-cart" aria-hidden="true" focusable="false" role="presentation" fill="none" viewBox="0 0 27.99 28"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.6px;}</style></defs><g id="cr2" data-name="cr2"><g id="cr_1-2" data-name="cr1"><path class="cls-1" d="M22.59,27H5.4L1,22.6v-13H27v13Z"/><path class="cls-1" d="M19.13,9.58V4.3A3.3,3.3,0,0,0,15.83,1H12.16a3.3,3.3,0,0,0-3.3,3.3V9.58"/></g></g></svg><!-- <svg xmlns="http://www.w3.org/2000/svg"  class="icon icon-cart" aria-hidden="true" focusable="false" role="presentation" fill="none" viewBox="0 0 17.19 17.2"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><g id="r2" data-name="r2"><g id="design"><path class="cls-1" d="M13.79,16.45H3.41L.75,13.79V5.93H16.44v7.86Z"/><path class="cls-1" d="M11.7,16.45V2.75a2,2,0,0,0-2-2H7.49a2,2,0,0,0-2,2v13.7"/><line class="cls-1" x1="5.5" y1="10.94" x2="11.7" y2="10.94"/></g></g></svg>  -->

        <!-- a -->
        <span class="visually-hidden">CART</span>
          <div class="cart-count-bubble"><span aria-hidden="true">{{session.cart.totalQty}}</span><span class="visually-hidden">1個のアイテム</span>
                                </div></a>

                            <label for="hbm1" class="hbmBox">
          <ul id="smpNavi">
            <li></li>
            <li></li>
          </ul>
        </label>
                             <input type="checkbox" id="hbm1" onclick="btn1Click();" />

                            <div class="openmenu">

                                <dl>
                                    <dt>CATEGORIES</dt>



                                    <dd><a href="/all">ALL ITEMS</a></dd>



                                    <dd><a href="/tshirts">T-SHIRTS</a></dd>



                                    <dd><a href="/hats">CAP & HATS</a></dd>



                                    <dd><a href="/outwear">OUTERWEAR</a></dd>



                                    











                                </dl>



                                <dl>
                                    <dt>MAIN LINKS</dt>

                                    <dd><a href="/all">SHOP</a></dd>

                                    <dd><a href="/" target="_blank">HOME</a></dd>

                                    <dd><a href="/about">ABOUT</a></dd>

                                </dl>

                                <dl>
                                    <dt>STORE INFORMATION</dt>

                                    <dd><a href="/store">STORES</a></dd>

                                   

                                </dl>

                               

                                <dl>
                                    <dt>CUSTOMER SUPPORT</dt>

                                    

                                    <dd><a href="/pay">PAYMENT</a></dd>

                                

                                    <dd><a href="/inquiry">INQUIRIES</a></dd>

                                 

                                    <dd><a href="/privacy">PRIVACY POLICY</a></dd>

                                   

                                   

                                </dl>


                            </div>
                            <div class="opbg">
                                <div id="cl_bg_btn" class="bg"></div>
                            </div>

                        </div>
                    </div>
                    <!--nav box-->


                    <nav class="header-menu">
                        <ul class="" role="list">
                            <li id="cat">SHOP
                            </li>
                            <li id=""><a href="#" class="animUnderHover">HOME</a></li>
                            <li id=""><a href="/about" class="animUnderHover">ABOUT</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="hedcat" class="headerCat">
                    <div id="catbox" class="hedwid">

                        <div class="inBox">
                            <ul>


                                <li><a href="/all" class="animUnderHover">ALL ITEMS</a></li>



                                <li><a href="/tshirts" class="animUnderHover">T-SHIRTS</a></li>



                                <li><a href="/hats" class="animUnderHover">CAP & HAT</a></li>



                                <li><a href="/outwear" class="animUnderHover">OUTERWEAR</a></li>



                              


                            </ul>
                        </div>


                    </div>

                </div>

                <div id="modal-overlay-hedbag">
                    <div></div>
                </div>


     <!--search------>
     <div class="c_search search-modal modal__content" role="dialog" aria-modal="true" aria-label="検索">
      <div class="modal-overlay"></div>
      <div class="search-modal__content search-modal__content-bottom" tabindex="-1"><form action="/search" method="get" role="search" class="search search-modal__form">
            <div class="field">
              <input class="search__input field__input"
                id="Search-In-Modal"
                type="search"
                name="q"
                value=""
                placeholder="検索">
              <label class="field__label" for="Search-In-Modal">検索</label>
              <input type="hidden" name="options[prefix]" value="last">
              <input type="hidden" name="type" value="product">
              <button class="search__button field__button" aria-label="検索">
                <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-search">
                </svg>
              </button>
            </div></form><button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="閉じる">
          <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  

  </header>






  <div class="closeseach"> </div>
</sticky-header>

<cart-notification>
  <div class="cart-notification-wrapper  color-background-1">
    
    <div id="cart-notification" class="csCart cart-notification focus-inset" aria-modal="true" aria-label="カートにアイテムが追加されました" role="dialog" tabindex="-1">
      <button type="button" class="bgbtn cart-notification__close modal__close-button link link--text focus-inset" aria-label="閉じる">
      </button>
      <div class="csBox">
      <div class="cart-notification__header">
        <h2 class="cart-notification__heading caption-large text-body"><svg class="icon icon-checkmark color-foreground-text" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"/>
</svg>
カートにアイテムが追加されました</h2>
        <button type="button" class="cart-notification__close modal__close-button link link--text focus-inset" aria-label="閉じる">
          <svg class="icon icon-close" aria-hidden="true" focusable="false"><use href="#icon-close"></svg>
        </button>
      </div>
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div class="cart-notification__links">
        <a href="/cart" id="cart-notification-button" class="button button--secondary button--full-width"></a>
        <form action="/cart" method="post" id="cart-notification-form">
          <button class="button button--primary button--full-width" name="checkout">購入手続きへ</button>
        </form>
        <button type="button" class="link button-label">買い物を続ける</button>
      </div>
    </div>
  </div>
  </div>
</cart-notification>
<style data-shopify>
  .cart-notification {
     display: none;
  }
</style>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "HUMAN MADE ONLINE STORE",
    
    "sameAs": [
      "",
      "",
      "",
      "https:\/\/www.instagram.com\/humanmade\/?hl=ja",
      "",
      "",
      "",
      "",
      ""
    ],
    "url": "https:\/\/humanmade.jp"
  }
</script>
</div>
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      
      <div class="pancom tpan small-hide">
        

<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" class="animUnderHover">TOP</a>
 

  
    
      <span aria-hidden="true">›</span>
      
      
      <span>CART</span>
      
    
  
</nav>

      </div><div id="shopify-section-template--14627345104932__cart-items" class="shopify-section"><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-cart.css?v=115569130898380718831656464811" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-cart-items.css?v=103401026934584095131656464812" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-totals.css?v=64183378622677722511656464810" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-price.css?v=112673864592427438181656464814" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-discounts.css?v=152760482443307489271656464812" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-loading-overlay.css?v=167310470843593579841656464812" rel="stylesheet" type="text/css" media="all" />
<style data-shopify>.section-template--14627345104932__cart-items-padding {
    padding-top: 0px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 750px) {
    .section-template--14627345104932__cart-items-padding {
      padding-top: 0px;
      padding-bottom: 28px;
    }
  }</style><script src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/cart.js?v=161881792179995038221656464813" defer="defer"></script>

<cart-items class="page-width section-template--14627345104932__cart-items-padding">
  <div class="title-wrapper-with-link">
    <h1 class="title title--primary">CART</h1>
  </div>

  <div class="cart__warnings">
    <h1 class="cart__empty-text">カートにアイテムが入っておりません。</h1>
    <a href="/collections/all" class="button">
      買い物を続ける
    </a>
  </div>

  <form action="/cart" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items" id="main-cart-items" data-id="template--14627345104932__cart-items">
      <div class="js-contents"><table class="cart-items">
            <thead>
              <tr>
                <th class="caption-with-letter-spacing" colspan="2" scope="col" style="font-size:20px">Total $USD {{ totalPrice }}</th>
                <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">Quantity</th>
                <th class="cart-items__heading--wide small-hide caption-with-letter-spacing" colspan="1" scope="col">Quantity</th>
                <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">Price</th>
              </tr>
            </thead>

            <tbody>
 {{#each products}}
             

                <tr class="cart-item" id="CartItem-1">
                  <td class="cart-item__media">
                    
                      
                      <a href="/review/{{this.item._id}}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                        <div class="cart-item__image-container gradient global-media-settings">
                          <img src="/uploads/{{this.item.photo}}"
                            class="cart-item__image"
                            alt="T-SHIRTS"
                            loading="lazy"
                            width="150"
                            height="150"
                          >
                        </div>
                    
                  </td>

                  <td class="cart-item__details"><a href="#" class="cart-item__name break">{{this.item.name}}</a><div class="product-option">
                        
$USD {{this.item.price}}
                      </div><dl><div class="product-option">
                              <dt>Color: </dt>
                              <dd>{{this.item.color}}</dd>
                            </div><div class="product-option">
                              <dt>Size: </dt>
                              <dd>S</dd>
                            </div></dl>

                      <p class="product-option"></p><ul class="discounts list-unstyled" role="list" aria-label="ディスカウント"></ul>
                  </td>

                  <td class="cart-item__totals right medium-hide large-up-hide">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <div class="cart-item__price-wrapper"><span class="price price--end">
                          
$USD {{this.item.price}}
                        </span></div>
                  </td>

                  <td class="cart-item__quantity">
                    <div class="cart-item__quantity-wrapper">
                      <label class="visually-hidden" for="Quantity-1">
                        数量
                      </label>

                      <quantity-input class="quantity">
                        <p class="hidden">false</p>
                        <p class="hidden">7135464063012</p>
                        <p class="hidden">false</p>
                        <a class="quantity__button no-js-hidden" name="minus" type="button"  href="/reduce/{{this.item._id}}">
                          <span class="visually-hidden">DAILY L/S T-SHIRT #241002の数量を減らす</span>
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
</svg>

                        </a>
                        <input class="quantity__input"
                          type="number"
                          name="updates[]"
                          value="{{this.qty}}"
                          min="0"
                          aria-label="DAILY L/S T-SHIRT #241002の数量"
                          id="Quantity-1"
                          data-index="1"
                        >
                        <a class="quantity__button no-js-hidden" name="plus" type="button" href="/add-to-cart/{{this.item._id}}">
                          <span class="visually-hidden">DAILY L/S T-SHIRT #241002の数量を増やす</span>
                          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
</svg>

                        </a>
                      </quantity-input>

                      <cart-remove-button id="Remove-1" data-index="1">
                        <a href="/remove/{{this.item._id}}" class="button button--tertiary" aria-label="DAILY L/S T-SHIRT #241002 - RED / Sを削除する">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
  <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"/>
  <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"/>
</svg>

                        </a>
                      </cart-remove-button>
                    </div>
                    <div class="cart-item__error" id="Line-item-error-1" role="alert">
                      <small class="cart-item__error-text"></small>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </svg>
                    </div>
                  </td>

                  <td class="cart-item__totals right small-hide">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <div class="cart-item__price-wrapper"><span class="price price--end">
                          
$USD {{ this.price }}
                        </span></div>
                  </td>
                </tr>  {{/each}}</tbody>
             
          </table></div>
    </div>
    
    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status"></p>
  </form>
</cart-items>
<script type="application/json" id="limitMsg">
  ※このアイテムはお一人様2点までの購入となっております。
</script>

</div><div id="shopify-section-template--14627345104932__cart-footer" class="shopify-section cart__footer-wrapper"><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-cart.css?v=115569130898380718831656464811" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-totals.css?v=64183378622677722511656464810" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-price.css?v=112673864592427438181656464814" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-discounts.css?v=152760482443307489271656464812" rel="stylesheet" type="text/css" media="all" />
<div class="page-width" id="main-cart-footer" data-id="template--14627345104932__cart-footer">
  <div>
  <!--  <div class="cart__footer">

      <div class="cart__etc_block"><div class="cart__form_duty small-hide">
          <p class="cart__form_duty_title">関税について</p>
          <p class="desc">日本国外への配送については、国により関税が掛か<br class="small-hide">る場合がございます。<br class="medium-hide large-up-hide">目安としては下記の通りです。</p>
          <ul class="content">
            <li>輸入合計金額：¥9,800</li>
            <li>輸入関税金額：¥980 - ¥1,470</li>
          </ul>
        </div>
      </div>

      <div class="cart__blocks">
        

              <div class="cart-shipping_free free-shipping-js-contents">日本国内への配送については、&yen;16,500（税込）以上<br>お買い上げいただくと送料無料になります。<br>送料無料まであと¥5,720（税込）</div>
<div class="js-contents" >
                <div class="totals">
                  <h3 class="totals__subtotal">合計</h3>
                  <p class="totals__subtotal-value">¥10,780（税込）</p>
                  <p style="display:none;" class="totals__subtotal-value" id="subtotal">1078000.0</p>
                </div>

                <div></div>

                <small class="tax-note caption-large rte">税と<a href="/policies/shipping-policy" class="animIsitUnderHover">送料</a>は購入手続き時に計算されます。
<br>
                  上記の内容でよろしければ「購入手続きへ」ボタンをクリックしてください。
                </small>
                
              </div>
<div id="cart-errors"></div>
              
                <div class="cart__ctas" >
                  <noscript>
                    <button type="submit" class="cart__update-button button button--secondary" form="cart">
                      アップデート
                    </button>
                  </noscript>

                  <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout" form="cart">
                    購入手続きへ
                  </button>

                  <div><a href="/collections/all" class="animIsitUnderHover">買い物を続ける</a></div>
                </div>
                
                


        <div class="cart__form_duty medium-hide large-up-hide">
          <p class="cart__form_duty_title">関税について</p>
          <p class="desc">日本国外への配送については、国により関税が掛か<br class="small-hide">る場合がございます。<br class="medium-hide large-up-hide">目安としては下記の通りです。</p>
          <ul class="content">
            <li>輸入合計金額：¥9,800</li>
            <li>輸入関税金額：¥980 - ¥1,470</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>-->

  <script type="application/json" id="priceJson">
    980000
  </script>




<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

</div><section id="shopify-section-template--14627345104932__cart-collection" class="shopify-section section"><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-card.css?v=180435547503579641657595182" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-price.css?v=112673864592427438181656464814" rel="stylesheet" type="text/css" media="all" />

<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-slider.css?v=149129116954312731941656464806" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/template-collection.css?v=13853755330876663911656464810" media="print" onload="this.media='all'">

<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-slider.css?v=149129116954312731941656464806" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/template-collection.css?v=13853755330876663911656464810" rel="stylesheet" type="text/css" media="all" /></noscript><style data-shopify>.section-template--14627345104932__cart-collection-padding {
    padding-top: 45px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--14627345104932__cart-collection-padding {
      padding-top: 60px;
      padding-bottom: 36px;
    }
  }</style><div class="color-background-1 isolate gradient product-box">
  <div class="collection  section-template--14627345104932__cart-collection-padding">
    
      <div id="recommend-head" class="title-wrapper-with-link title-wrapper--no-top-margin">
       <!-- <h2 class="title">YOU MAY ALSO LIKE</h2></div>-->
    

    
  
    
  </div>
</div>
<script type="application/json" id="cartId">
  [{"id":40426394026020,"properties":{},"quantity":1,"variant_id":40426394026020,"key":"40426394026020:44274ba917f2a071b75bdb71bb34cfa1","title":"DAILY L\/S T-SHIRT #241002 - RED \/ S","price":980000,"original_price":980000,"discounted_price":980000,"line_price":980000,"original_line_price":980000,"total_discount":0,"discounts":[],"sku":"HM24CS1002RD1","grams":600,"vendor":"HUMANMADE OFFICIAL WEB","taxable":true,"product_id":7135464063012,"product_has_only_default_variant":false,"gift_card":false,"final_price":980000,"final_line_price":980000,"url":"\/products\/hm24cs1002?variant=40426394026020","featured_image":{"aspect_ratio":1.0,"alt":"T-SHIRTS","height":2480,"url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0001\/8359\/9140\/products\/15I6j5Jy_icrIH29yBefpErpyonFYPKrk.jpg?v=1664175942","width":2480},"image":"https:\/\/cdn.shopify.com\/s\/files\/1\/0001\/8359\/9140\/products\/15I6j5Jy_icrIH29yBefpErpyonFYPKrk.jpg?v=1664175942","handle":"hm24cs1002","requires_shipping":true,"product_type":"SWEATER・CUT \u0026 SEW","product_title":"DAILY L\/S T-SHIRT #241002","product_description":"誕生日などの特別な日を記念したギフトとしてもぴったりな日替わりデザインの ”DAILY” Tシャツシリーズ。HUMAN MADE のアイコニックなハートロゴを前身頃に大きくプリントし、後ろ身頃には本日の日付を大きくプリント。今日しか手に入れることができないスペシャルデザインです。※この商品は受注商品になります。受注商品は、受注後の生産になり商品のお届けまでに通常よりお時間がかかります。\n\n品番：HM24CS1002 素材：100% COTTONCOLOR：RED\/BLACK\/NAVY\n\n\n\n\nSIZESPEC(cm)\nS\nM\nL\nXL\n2XL\n\n\n着丈\n64\n66\n68\n70\n72\n\n\n肩幅\n51\n52.5\n54\n55.5\n57\n\n\n身幅\n53\n55.5\n58\n60.5\n63\n\n\n袖丈\n56\n57.5\n59\n60.5\n62\n\n\n","variant_title":"RED \/ S","variant_options":["RED","S"],"options_with_values":[{"name":"Color","value":"RED"},{"name":"Size","value":"S"}],"line_level_discount_allocations":[],"line_level_total_discount":0}]
</script>



</section>
      
      </main>
    <div class="footerBox">
      <div id="shopify-section-footer" class="shopify-section">
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/section-footer.css?v=165376138813075807981656464814" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-newsletter.css?v=154949381971743002831656464805" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-menu.css?v=69267769827968425701656464816" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-payment.css?v=69253961410771838501656464812" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-social.css?v=52211663153726659061656464812" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-rte.css?v=103740312986841535231656464812" media="print" onload="this.media='all'">
<link rel="stylesheet" href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/disclosure.css?v=646595190999601341656464808" media="print" onload="this.media='all'">

<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-newsletter.css?v=154949381971743002831656464805" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-menu.css?v=69267769827968425701656464816" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-payment.css?v=69253961410771838501656464812" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-list-social.css?v=52211663153726659061656464812" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-rte.css?v=103740312986841535231656464812" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/disclosure.css?v=646595190999601341656464808" rel="stylesheet" type="text/css" media="all" /></noscript><style data-shopify>.footer {
    margin-top: 36px;
  }

  .section-footer-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: 48px;
    }

    .section-footer-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><div class="fpan pancom">  
  

<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" class="animUnderHover">TOP</a>
 

  
    
      <span aria-hidden="true">›</span>
      
      
      <span>CART</span>
      
    
  
</nav>

</div>

 <footer class="footer color-background-1 gradient section-footer-padding">
                <div class="footer__content-top page-width">
                    <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet ">
                        <div class="footer-block grid__item footer-block--menu">
                            <h2 class="footer-block__heading">MENU</h2>
                            <ul class="footer-block__details-content list-unstyled footer-menu__pc">
                                <li>
                                    <div id="newsl" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                                       QUICK LINKS
                                    </div>
                                </li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                           CONTACT
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            INQUIRIES
                          </a></li>
                            </ul>
                        </div>
                        <div class="footer-block grid__item footer-block--menu">
                            <h2 class="footer-block__heading">Quick links</h2>
                            <ul class="footer-block__details-content list-unstyled footer-menu__pc">
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            PAYMENT
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            TERMS OF SERVICE
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                           PRIVACY POLICY
                          </a></li>
                            </ul>
                        </div>
                        <div class="footer-block grid__item footer-block--menu">
                            <h2 class="footer-block__heading">Quick links</h2>
                            <ul class="footer-block__details-content list-unstyled footer-menu__pc">
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            FAQ
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                           ABOUT
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            STORE
                          </a></li>
                            </ul>
                        </div>
                        <div class="footer-block grid__item footer-block--menu">
                            <h2 class="footer-block__heading">Quick links sp</h2>
                            <ul class="footer-block__details-content list-unstyled footer-menu__sp">
                                <li>
                                    <div id="newslSp" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                                       SHOP
                                    </div>
                                </li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            CONTACT
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            INQUIRIES
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                           PAYMENT
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            FAQ
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            QUICK LINKS
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                            TERMS OF SERVICE
                          </a></li>
                                <li><a href="#" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                           PRIVACY POLICY
                          </a></li>
                                <li><a href="/about" class="animUnderHover link link--text list-menu__item list-menu__item--link">
                           ABOUT
                          </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__content-bottom">
                    <div class="footer__content-bottom-wrapper page-width">
                        <div class="footer__column footer__localization isolate"></div>
                        <div class="footer__column footer__column--info"><a href="/" class="header__heading-link link link--text focus-inset"><span class="h2">URBAN KREATIVES ONLINE STORE</span></a>


                            <div class="footer-block--newsletter">
                                <ul class="footer__list-social list-unstyled list-social" role="list">
                                    <li class="list-social__item">
                                        <a href="#" class="link list-social__link" target="_blank"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 18 18">
  <path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
  <path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z">
</svg>
<span class="visually-hidden">Instagram</span>
                    </a>
                                    </li>
                                </ul>
                            </div>


                            <div class="footer__copyright caption">
                                <small class="copyright__content">Copyright &copy; 2022 <a href="#" target="_blank" class="animUnderHover">URBAN KREATIVES CO.,LTD.</a> All rights reserved.</small>
                                <!-- <small class="copyright__content">Powered by Shopify</small> -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>




</div>
      <section id="shopify-section-newsletter" class="shopify-section section"><link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/component-newsletter.css?v=154949381971743002831656464805" rel="stylesheet" type="text/css" media="all" />
<link href="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/newsletter-section.css?v=120502639259834474101656464812" rel="stylesheet" type="text/css" media="all" />
<style data-shopify>.section-newsletter-padding {
    padding-top: 150px;
    padding-bottom: 150px;
  }</style><style>
  h2.h1{font-size: 2.4rem;}
  .addform{
    margin-top: 40px;
  }
  .outbox{
    text-align:right;
    padding: 0 40px;
    margin-top: 20px;
  }
  .outlink{
    border: 1px solid #888;padding:10px 15px;
    line-height: 1;
    text-decoration: none;
    color: #888;
    display: inline-block;
    font-size: 10px;
  }
</style>




<div id="f-latter">
  <div id="f-latterInner">


  <div class="newsletter center ">
    <div class="newsletter__wrapper color-background-1 gradient content-container isolate content-container--full-width section-newsletter-padding"><h2 class="title title--primary" >ニュースレター登録</h2><div  class="addform">
              <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="newsletter-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  
<div class="field">
                    <input
                      id="NewsletterForm--newsletter"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value=""
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      
                      placeholder="メールアドレス"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--newsletter">
                      メールアドレス
                    </label>
                    <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="登録">
                      <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</svg>

                    </button>
                  </div></div></form>
            </div></div>
  </div>

  <script>
 
  // var form=document.getElementById("form");
  // var result=document.getElementById("Subscribe");
  // var pattern = /^[A-Za-z0-9]{1}[A-Za-z0-9_.-]*@{1}[A-Za-z0-9_.-]+.[A-Za-z0-9]+$/;
  

  // form.addEventListener("input", (e) => {
 
  //     if (pattern.test(form.value)) {
  //       result.disabled = true;
  //     } else {
  //       result.disabled = false;
  //     }
  // })
  </script>

   <div id="newsletter__close"><div class="closeInner"></div></div>
  </div>

  <div id="f-bg"></div>
</div>


<script>
  // URLを取得
  var url = new URL(window.location.href);
  if( (url.searchParams.has('customer_posted') && url.searchParams.get('customer_posted')) || (url.searchParams.has('contact[tags]') && url.searchParams.has('form_type'))) {
    document.getElementById("f-latter").classList.add("open")
  }
  const obtn = document.getElementById('newsl');
  const obtnSp = document.getElementById('newslSp');
  const newslClose = document.getElementById('newsletter__close');
  const bgbtn = document.getElementById('f-bg');
  const f_box = document.getElementById('f-latter');

  newslClose.addEventListener('click', function() {
    f_box.classList.remove('open');
  });
  obtn.addEventListener('click', function() {
    f_box.classList.add('open');
  });
  obtnSp.addEventListener('click', function() {
    f_box.classList.add('open');
  });
  bgbtn.addEventListener('click', function() {
    f_box.classList.remove('open');
  });

</script>




</section>
    </div>

      <ul hidden>
        <li id="a11y-refresh-page-message">選択結果を選ぶと、ページが全面的に更新されます。</li>
      </ul>
      
    <script>
      window.shopUrl = 'https://humanmade.jp';
      window.routes = {
        cart_add_url: '/cart/add',
        cart_change_url: '/cart/change',
        cart_update_url: '/cart/update',
        predictive_search_url: '/search/suggest'
      };

      window.cartStrings = {
        error: `カートをアップデートするときにエラーが発生しました。もう一度お試しください。`,
        quantityError: `このアイテムは[quantity]個しかカートに追加することができません。`
      }

      window.variantStrings = {
        addToCart: `Add to cart`,
        soldOut: `SOLD OUT`,
        unavailable: `利用できません`,
      }

      window.accessibilityStrings = {
        imageAvailable: `ギャラリービューで画像 ([index]) が利用できるようになりました`,
        shareSuccess: `リンクがクリップボードにコピーされました`,
        pauseSlideshow: `スライドショーを一時停止する`,
        playSlideshow: `スライドショーを再生する`,
      }
    </script><script src="cart/cdn.shopify.com/s/files/1/0001/8359/9140/t/93/assets/custom.js?v=5617253941085225441657384559" defer="defer"></script>

  </body>
</html>
